{%extends 'partials/base.html'%}

{% block content %}
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-3">
              <div class="card">
                  <div class="card-header bg-black text-white"> <h4>DELETE TASK </h4></div>
                  <div class="card-body">
                      <div class="alert alert-danger">
                          Do you want to delete your task?
                      </div>
                      
                      <form method="POST">
                        {% csrf_token %}
                        <a class="btn btn-sm btn-info" href=" {% url 'taskapp-index'%}"> NO </a>
                          <input class="btn btn-sm btn-danger" value="YES" type="submit">
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
{%endblock%}